* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

#canvas {
    border: 2px solid black;
}

#buttons {
    position: absolute;
    top: 305px;
    left: 10px;
  }
  #buttons > input {
    padding: 10px;
    display: block;
    margin-top: 5px;
  }