[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
keras = "*"
tensorflow = "*"
flask = "*"
flask-cors = "*"
flasgger = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
